-f /usr/share/pip-wheels
beautifulsoup4==4.6.3
cachetools==2.1.0
google-api-python-client==1.7.4
google-auth==1.5.1
google-auth-httplib2==0.0.3
mysqlclient==1.3.12
oauth2client==4.1.3
pyasn1==0.4.4
pyasn1-modules==0.2.2
python-dateutil==2.6.1
pytz==2017.3
requests==2.31.0
rsa==4.7
six==1.11.0
twitter==1.18.0
uritemplate==3.0.0
